.Header {
    height: 6vh;
    border-bottom: 1px solid silver;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu-icon img {
    width: 2vw;
}

.Header .menu-icon {
    padding: 2%;
    height: auto;
    width: 2vw;
}