.Login, .Register {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
}

.containerFormInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerFormInput .containerText {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
    margin: 2%;
    justify-content: right;
    align-items: center;
}

.Login .containerFormInput .containerText {
    margin-right: 25%;
}

.Register .containerFormInput .containerText {
    margin-right: 35%;
}

label {
    margin-right: 1vw;
}

input {
    font-size: 1vw;
}

button {
    background: #F9AE3D;
    border-radius: 20px;
    padding: 0.5%;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    padding: 2%;
}
  
button:hover {
    background: #ce871c;
}

input {
    font-size: 2vh;
    border-radius: 20px;
    border: 1px solid silver;
    padding: 1vh;
}