.Sidebar {
    width: 25vw;
    height: 100%;
    position: fixed;
    border-right: 1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-heading {
    display: flex;
    justify-content: space-between;
}

.sidebar-heading img {
    width: 2vw;
}

.Sidebar a {
    width: 100%;
    text-align: left;
}

.nav-links, .auth-links {
    display: flex;
    flex-wrap: wrap;
}