.containerPage {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerText {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
}

.containerText p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-decoration-line: underline;
    margin-top: 50px;
    align-items: flex-start;
    color: #333333;
    margin-left: 15px;
}

.containerText h2 {
    font-weight: 300;
    width: 501px;
    height: 129px;
    left: 439px;
    top: 409px;
    margin-top: 0;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #000000;
}

.registerbtn {
    background-color: #5cac0e;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    width: 120px;
    height: 30px;
  }
  
.registerbtn:hover {
    opacity: 1;
}

.containerSubmit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

:root {
    --secondary-color: #ffffff;
  }
  
  .container {
    display: flex;
    color: #fff;
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);
    transition: all .8s ease;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }